*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #292b30;
    overflow-y: hidden;
}

/* Loading script */
.logo-mini {
    height: 50px;
    width: 50px;
    padding: 8px;
    background-color: #222d32;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-content {
    display: none;
}

.loading-msg {
    margin-top: -10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/* Sidebar menu*/
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    width: 100px;
    left: 50px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    padding: 12px 5px 12px 10px;
    background-color: inherit;
}

/* Breadcrumb */
.content-header > .breadcrumb {
    left: 0;
    top: -5px;
    float: left;
    display: inline;
    position: relative;
    font-size: 16px;
    padding-left: 0px;
}

/* Menu */
.content-header > .menu-list {
    float: right;
    font-size: 16px;    
    display: inline;    
}

.content-header > .menu-list > a {  
    float: left;
    display: inherit;
    margin-right: 10px;
    cursor: pointer;
    color: inherit;    
}

.content-header > .menu-list > a:hover {  
    color: #727373;    
}

.content-header > .menu-list > a > form > label {
    cursor: pointer;
    font-weight: 100;
}

.content-header > .menu-list > a > form > label > input{
    display: none;
    cursor: pointer;
}

.content-header > .menu-list > .view-options{
    display: inline;
}

.content-header > .menu-list > .view-options > a {
    color: inherit;
}

.content-header > .menu-list > .view-options > a:hover{
    color: #727373;
}

.content-header > .menu-list > .view-options > a > span{
    font-size: 18px;
    margin-left: 5px;
}

/* File tree view */
.page-title {
    background-color: #8bbfd4;
    color: #eee;
    margin: 0 -15px 0 -15px;
}

.page-title > p {
    padding: 6px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

.file-tree {
    background-color: #e1e5eb;
    position: fixed;
    top: 50px;
    bottom: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    font-size: 14px;
}

.treeview-menu > li {
    padding-left: 10px;
}

.treeview-menu > li > a:hover {
    color: #375967 !important;
}

/* Content script */
div.content-wrapper > .col-sm-10 {
    padding-right: 10px;
}

.box {
    display: none;
    margin-top: 40px;
    -webkit-animation: showSlowlyElement 200ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 200ms; /* Standard syntax */
}

.box-content > td > span > i {
    font-size: 13px;
}

/* When screen width is below 991px */
@media (max-width: 991px) {
    
  body {
    font-size: 11px;
  }
  
  .content-header > .breadcrumb {
    position: relative;
    left: 0;
    top: -9px;
    float: left;
    background: transparent;
    font-size: 12px;
    padding-left: 0px;
  }
  
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
  
  .content-header > .menu-list {
    font-size: 12px;
    margin-left: 2px;
  }
  
  .content-header > .menu-list > .view-options > a > span {
    font-size: 14px;
    margin-left: 3px;
  }
  
  .page-title {
    background-color: #8bbfd4;
    color: #eee;
    margin: 0 -15px 0 -15px;
    }

  .page-title > p {
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  
  .file-tree {
    font-size: 12px;
  }

  .treeview-menu > li {
    padding-left: 7px;
  }
  
  .box {
    margin-top: 30px;
  }

  .box-content > td > span > i {
    font-size: 12px;
  }  
  
}


